#box
{
    background-color: rgb(215, 217, 179);
    height: 300px;
    width: 700px;
    visibility: hidden;
    border: 2px solid rgb(31, 4, 4);
    font-weight: bold;
}

.clicks
{
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
}

.clicks:hover
{
    background-color: rgb(79, 66, 160);
    font-weight: bold;
}
body{
    background-color: rgb(111, 111, 179);
}

#box.show
{
    visibility: visible;
}